<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <form id="resetForm">
          <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" required>
          <button type="submit">Reset Password</button>
        </form>
        <p id="message"></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.10.0/axios.min.js"></script>
    <script src="/js/resetPass.js"></script>
</body>
</html>